.home {
    display: flex;
    flex-direction: column;
    align-self: center;
    position: relative;
    justify-content: space-around;
    margin: 0px;
    font-family: "clip";
    
}
.nome {
    text-align: center;
    align-self: center;
}
.sub {
    margin-top: 0;
    border-bottom: solid 2px;
}

.sign{
    letter-spacing: 2px;
    display: flex;
    color: #ffffff;
    text-shadow: 0 0 0.6rem #ff6565,
    0 -0.1rem #ff6565, -0.2rem 0.1rem
    1rem #ff6565, 0.2rem 0.1rem 
    1rem #ff6565, 0 -0.5rem
    2rem #ff2424, 0.09rem 0rem #ff2424;
}
@keyframes blink{
    0%,
    22%,
    36%,
    75%{
        color: #ffe6e6;
        text-shadow: 0 0 0.6rem #ffe6e6,
        0 0 1.5rem #ff6565, -0.2rem 0.1rem
        1rem #ff6565, 0.2rem 0.1rem
        1rem #ff6565, 0 -0.5rem
        2rem #ff2424, 0 0.5rem 3rem #ff2424;
    }
    28%,
    33%{
        color: #ff6565;
        text-shadow: none;
    }
    82%,
    97%{
        color: #ff2424;
        text-shadow: none;
    }
}
.flicker{
    animation: shine 2s forwards , blink
    3s 2s infinite;
}
.fast-flicker{
    animation: shine 2s forwards, blink 
    6s 2s, infinite;
}
@keyframes shine{
    0%{
        color: #6b1818;
        text-shadow: none;
    }
    100%{
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6e6,
        0 0 1.5rem #ff6565, -0.2rem 0.1rem 
        1rem #ff65bd,
        0.2rem 0.1rem 1rem #ff6565, 0 -0.5rem
        2rem #ff2424, 0 0.5rem 3rem #ff2424;
    }
}
@keyframes flicker{
    from{
        opacity: 1;
    }
    4%{opacity: 0.9;
    }
    6%{opacity: 0.85;
    }
    8%{opacity: 0.95;
    }
    10%{opacity: 0.9;
    }
    11%{opacity: 0.922;
    }
    12%{opacity: 0.9;
    }
    14%{opacity: 0.95;
    }
    16%{opacity: 0.98;
    }
    17%{opacity: 0.9;
    }
    19%{opacity: 0.93;
    }
    20%{opacity: 0.99;
    }
    4%{opacity: 0.9;
    }
    24%{opacity: 1;
    }
    26%{opacity: 0.94;
    }
    28%{opacity: 0.98;
    }
    37%{opacity: 0.93;
    }
    38%{opacity: 0.5;
    }
    39%{opacity: 0.96;
    }
    42%{opacity: 1;
    }
    44%{opacity: 0.97;
    }
    46%{opacity: 0.94;
    }
    56%{opacity: 0.9;
    }
    58%{opacity: 0.9;
    }
    60%{opacity: 0.99;
    }
    68%{opacity: 1;
    }
    70%{opacity: 0.9;
    }
    93%{opacity: 0.93;
    }
    95%{opacity: 0.95;
    }
    97%{opacity: 0.93;
    }
    100%{opacity: 1;
    }

}