.home {
    display: flex;
    flex-direction: column;
    position: relative;
    align-self: center;
    /* border: 2px black solid; */
}
.nome {
    border-top: solid 2px black;
}
.sub {
    margin-top: 0;

    border-bottom: solid 2px black;
}
.red {
    color: red;
    font-weight: 900;
}