.home {
    display: flex;
    flex-direction: column;
    align-self: center;
    position: relative;
    justify-content: space-around;
    margin: 0px;
}
.nome {
    border-top: solid 2px black;
    text-align: center;
    width: 250px;
    align-self: center;
}
.sub {
    margin-top: 0;

    border-bottom: solid 2px black;
}
.red {
    font-style: none;
    color: red;
    font-weight: 700;
}