<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div id="content">
        <section id="info">
            <div id="header-name">
                <div id="teste">

                    <div id="nome">
                        <h1>Gabriel P. Oliveira</h1>
                        <span> Desenvolvedor Front-end</span>
                        <span class="local"><i class="fa fa-map-marker" aria-hidden="true"></i> RJ / São João De
                            Meriti</span>

                        <span class="email">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <a href="mailto:gabriel.pso100@gmail.com">gabriel.pso100@gmail.com
</a>
                        </span>
                        <span><i class="fa fa-phone" aria-hidden="true"></i>
                            (21) 98210-8980</span>
                    </div>
                </div>

            </div>

            <div id="contato">


                <span>
                    <i class="fa fa-github" aria-hidden="true"></i>
                    <a href="https://github.com/Biel-97" target="_blank" aria-hidden="true">github</a>
                </span>

                <span>
                    <i class="fa fa-codepen" aria-hidden="true"></i>
                    <a href="https://codepen.io/Biel_" target="_blank" aria-hidden="true">codepen</a>
                </span>

                <span>
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    <a href="https://www.linkedin.com/in/gabriel-97-oliveira" target="_blank"
                        aria-hidden="true">linkedin</a>
                </span>
                <span>
                    <i class="fa fa-laptop flicker" aria-hidden="true"></i>
                    <a href="#" 
                        aria-hidden="true">portfolio</a>
                </span>

            </div>


            <div id="skills">
                <h2 id="skills-titulo">Conhecimentos</h2>
                <div class="conhecimentos">

                    <div id="front">
                        <span>HTML 5 </span>
                        <span>CSS 3</span>
                        <span>JavaScript</span>
                        <span>Bootstrap</span>
                        <span>React JS</span>
                    </div>

                    <div id="back">
                        <span>Inglês</span>
                        <span>Node JS</span>
                        <span>MySql</span>
                    </div>
                </div>

            </div>

        </section>
        <div class="linha"></div>
        <main>
            <div id="conteudo">
                <div id="ola">
                    <h2>Ola!</h2>
                    <p> Meu nome é Gabriel, tenho 23 anos e tenho o objetivo de entrar no mercado de trabalho voltado ao desenvolvimento tecnológico, buscando me adaptar e evoluir na programação.
                    </p>
                </div>
                <div id="projetos">
                    <h2>Projetos</h2>
                    <div id="proj">

                        <h3>Chat-app - <a target="_blank" href="https://github.com/Biel-97/Chat-App">Code</a> |
                            <a target="_blank" href="https://biel-97.github.io/Chat-App/">Demo</a></h3>
                        <div>
                            <h4>HTML, CSS, JavaScript, React, Socket.IO </h4>
                            <p>Chat-app é um chat em tempo real, com salas e um quadro branco desenhavel, onde é
                                possivel fazer upload de arquivos png para desenhar por cima.</p>
                        </div>
                    </div>

                    <div id="proj">
                        <h3>Memory card Game - <a target="_blank"
                                href="https://github.com/Biel-97/Memory-game-React">Code</a> |
                            <a target="_blank" href="http://Biel-97.github.io/Memory-game-React">Demo</a></h3>

                        <div>
                            <h4>HTML, CSS, JavaScript, React</h4>
                            <p>O jogo da memória é um clássico jogo formado por cartas que apresentam uma figura em um
                                dos lados. Cada figura se repete em duas cartas diferentes. O objetivo é encontrar os
                                pares dentro do tempo.</p>
                        </div>

                    </div>
                </div>
                <div id="formacao">
                    <h2>Formação</h2>
                    <p>
                        <span><strong>Ensino médio</strong> </span>
                        <br>
                        <span> C.E Visconde De Cairu (dezembro de 2015).</span> <br><br>

                        <span><strong>Graduação</strong> </span>
                        <br>
                        <span> Sistemas de Informação</span>
                        <br>
                        <span>Universidade Estácio De Sá. Cursando 5° Período.</span>
                        <strong>(CR: 8.07)</strong>
                    </p>
                </div>

            </div>
        </main>
    </div>
    </div>
</body>

</html>