#Home {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    position: relative;
    justify-items: center;
    background-color: black;
    overflow: hidden;
}



.newIntro {
    position: relative;
    align-self: center;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.6);
    padding: 40px;
    width: 410px;
    height: 200px;
    font-family: 'Spartan', sans-serif;
}
.newIntro > div {
    position: absolute;
    z-index: 3;
    align-self: center;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
}