
.navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    box-sizing: content-box;
    position: relative;
    top: 10px;
    padding: 0px;
    margin: 0px 0px;
}

.navbar div {
    margin: 5px;
}
