
.navigation {
    list-style: none;
    display: flex;
    justify-content: center;
    position: relative;
    top: 0px;
    /* border-right: 2px solid rgb(41, 41, 41); */
    margin: 0px;
    align-self: center;
    width: 100vw ;
    /* right: 0px; */
}
.nav_{
    padding: 5px 0px;
    background: rgba(255, 255, 255, 0.05);

}

.navigation div {
    cursor: pointer;
    border-bottom: 2px solid rgb(41, 41, 41);
    color: aliceblue;
    height: 100%;
    padding: 2px;
    margin: 2px;
    font-weight: 700;
}


.navigation li:hover {
    background-color: rgb(255, 255, 255, 0.15);
    transition: 200ms;

}

.navigation li {
    transition: 200ms;

    margin: 0px 3px;
    padding: 15px 15px;
    color: white;
    cursor: pointer;
    /* background-color: tomato; */
    height: 100%;
}