
.navigation {
    list-style: none;
    display: flex;
    justify-content: center;
    box-sizing: content-box;
    position: relative;
    top: 0px;
    padding: 10px;
    margin: 15px;
    align-self: center;
}

.navigation div {
    cursor: pointer;
    border-bottom: 2px solid black;
}

.navigation div:hover {
    background-color: rgb(228, 228, 228);
}
