
.navigation {
    list-style: none;
    display: flex;
    justify-content: center;
    position: relative;
    top: 0px;
    /* border-right: 2px solid rgb(41, 41, 41); */
    margin: 0px;
    align-self: center;
    width: 100vw ;
    /* right: 0px; */
    font-family: sans-serif;
}
.nav_{
    padding: 5px 0px;
    background: rgba(255, 255, 255, 0.05);

}


.navigation li:hover, .navigation a:hover{
    background-color: rgb(255, 255, 255, 0.15);
    transition: 200ms;
    color: white;
}

.navigation li, .navigation a {
    transition: 200ms;
    margin: 0px 3px;
    padding: 15px 15px;
    color: white;
    height: 100%;
    cursor: pointer;
    font-weight: 700;
}