.img{
    width: 100%;
    height: 250px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    align-self: center;
    min-width: 240px;
    /* object-fit: cover; */
}
.img > h3 {
    color: white;
    margin: 10px;
}
.proj{
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 15px;
}

.proj-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
}
.proj-info > h3{
    margin-bottom: 10px;
    font-size: 20px;
}

.proj-info > div > p {
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    color: rgb(218, 218, 218);
    font-size: 14px;
    padding: 5px;
}
.proj-description {
    width: 400px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;

}
.proj-description > div {
    margin: 10px 0px;
}
.proj-description > div > p {
    color: rgb(255, 255, 255);
    margin-left: 10px;
    font-size: 14px;
}
.proj-description > div > h3 {
    font-family: 'Work Sans', sans-serif; 
    color: rgb(223, 223, 223);
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.proj-description > div > h3::after{
    content: '';
    display: block;
    width: 50%;
    height: 1px;
    background: linear-gradient(90deg, white 45%, rgba(255, 255, 255, 0.4) 100%);
    margin: 0px 10px;
    align-self: center;
}
.proj-description > div > ul {
    margin: 3px 0px;
}
.proj-buttons{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    /* align-self: flex-end; */
}
.proj-buttons > a {
    align-self: flex-end;
    margin-top: 10px;
    width: 30%;
    height: 30px;
    border-radius: 2px;
    background: rgba(97, 0, 253);
    border-radius: 5px;
}
.proj-buttons > a > button {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    transition: ease-in-out 200ms;

}
.proj-buttons > a > button:hover {
    background: rgb(0, 0, 0, 0.2);

}
.features > li {
    color: rgb(241, 241, 241);
    font-size: 14px;
}
.target{
    color: rgb(115, 235, 135);
}