.projects {
    overflow: auto;
    width: 100%;
    /* border: 2px solid black; */
    height: 100%;
    align-self: flex-start;
}



#primeiro, #segundo, #terceiro {
    /* height: 800px; */
    margin: 10px;
    /* border: 1px solid rgb(156, 156, 156); */
    padding: 0px;
}
img {
    width: 100%;
}
