.projects {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: auto;
    width: 100%;
}
.card {
    /* width: 80%; */
}

.primeiro{
    width: 18rem;
    background-color: rgb(59, 59, 59);    

}

.segundo{
    width: 18rem;

    /* margin-bottom: 5px; */
    /* background-color: black;     */
}
.terceiro{
    width: 18rem;

    /* background-color: black; */
}

.primeiro, .segundo, .terceiro {
    width: 320px;
    height: 500px;
    margin: 10px;
}
