.projects {
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.projeto{
    position: relative;
    max-width: 500px;
    min-width: 280px;
    background-color: rgb(255, 255, 255, 0.05);
    box-shadow: 5px 5px 10px rgb(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    color: rgb(255, 255, 255);
    
}
img {
    border-radius: 10px;
    width: 100%;
    height: 300px;
    opacity: 0.5;
}
.desc{
    position: absolute;
    left: 5px;
    top: 5px;
    padding: 15px;
}
.desc p {
    text-align: justify;

}

.buttons{
    margin: 15px 0px 0px 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}