.Contact {
    width: 100%;
    height: 600px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    margin-top: 30px;
}

.Contact > div {
    width: 500px;
    padding: 10px 10px 20px 10px;
    border: 1px solid rgb(50, 50, 50);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.8);
    flex-wrap: wrap;
    z-index: 2;
    text-align: center;
}
.Contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
    width: 100%;
    
}

.input {
    display: flex;
    /* flex-direction: column; */
    position: relative;
    align-items: center;
    /* border: 1px solid red; */
    margin: 20px 0px;
    min-height: 80px;
    background: black;
}
.input > input, .textarea > textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    /* resize: none; */
    outline: none;
    height: 50px;
    font-size: 20px;
    color: white;
    width: 400px;
}

.input > input::-webkit-input-placeholder, .textarea > textarea::placeholder {
    color: white;
}
.input > input:focus::-webkit-input-placeholder, .textarea > textarea:focus::placeholder{
    transition: text-indent 4s 0.4s ease; 
    text-indent: -100%;

    opacity: 1;

 }
.textarea > textarea {
    height: 100px;
    border: 1px solid rgb(61, 61, 61);
    border-radius: 3px;
    padding: 5px;
    resize:vertical;
    min-height: 100px;

}
.input > label {
    position: absolute;
    bottom: 30px;
    left: 0;
}
.nameEmail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nameEmail > .input {
    margin: 5px;
}
.nameEmail > .input > input {
    width: 200px;
    padding-left: 20px;
}

@media (max-width: 500px) {

    .nameEmail {
        flex-direction: column;
        width: 100%;
    }

    .input:last-child,.input:first-child  {
        width: calc(100% - 5px);
    } 
        
    .textarea, .nameEmail > .input > input, .textarea > textarea, .input, .Contact > div{
        width: 100%;
    }

}