/* Triangulo  */

.custom-shape-divider-bottom-1613901168 {
    /* position: absolute; */
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1613901168 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 60px;
}

.custom-shape-divider-bottom-1613901168 .shape-fill {
    fill: rgba(0, 0, 255, 0.2);
}