.ppop {

    display: flex;
    align-self: center;
    flex-direction: column;

    align-self: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.508);
    
    width: 100%;
    height: 100%;
    
    
}

.container {
    display: flex;
    flex-direction: column;
    align-self: center;

    max-width: 700px;
    height: 550px;
    background-color: rgb(34, 34, 34);
    border-radius: 10px;
    overflow: auto;
}



.modalTop {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-height: 90px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    
}

.modalTop>p {
    margin: 10px;
    text-align: center;
    align-self: flex-start;
    align-content: flex-end;
}

.modalTop>img {
    margin: 45px 0px 10px 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}

.modalBottom {
    padding: 10px 20px 10px 20px;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.subText{
    margin-top: 50px;
    font-size: 13px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.access {
    width: 100%;
    /* background-color: white; */
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}
.access svg {
    font-size: 30px;
    color: white;
}
.date {
    align-self: flex-end;
}
.close {
    color: rgb(219, 62, 62);
    font-weight: 800;
    font-size: 26px;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.close:hover {
    color: red;
}

@media (max-width: 720px) {
    .container {
        width: 95%;
        height: auto;
        max-height: 700px;
        min-width: 350px;

    }
}