#About {
    padding: 60px;
    margin-top: 20px;
    width: 100%;
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 10px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#About > div {
    display: flex;
    text-align: justify;
    justify-content: center;
    align-content: center;
    max-width: 900px;
}

.AboutLeft {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-top: 20px;
}
.AboutLeft svg {
    font-size: 25px;
}
.AboutLeft > h2 {
    align-self: center;
    margin-bottom: 20px;
}
.AboutLeft > div {
    display: flex;
    justify-content: space-around;
}
.AboutLeft > div > a {
    color: white;
}

#About > p {
    text-align: justify;
}

.AboutRight {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-top: 20px;
    padding-left: 5px;
}
.AboutRight > span {
    margin-top: 5px;
}

.companies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 930px) {
    #About > div {
        flex-direction: column;
    }
    #About {
        padding: 15px;

    }
    .AboutLeft, .AboutRight {
        width: 100%;
    }
}
@media (max-width: 400px) {
    #About {
        width: 100%;
    }
    .AboutRight p {
        font-size: 14px;
    }
    .continue {
        font-size: 14px;
        
    }
}
