.flag{
    display: flex;
    align-self: center;
    position: absolute;
    justify-content: space-between;
    bottom: 30px;
    width: 300px;
}

#english {
    padding-right: 10px;
}
#ptbr {
    padding-left: 10px;
}
#english img {
    height: 30px;
    /* width: 50px; */

}
#ptbr img {
    height: 30px;
    /* width: 50px; */
    /* box-shadow: 2px 2px 2px 2px  rgb(0, 255, 55); */

}
#ptbr img:hover{
    box-shadow: 0px 0px 20px 5px  rgb(0, 255, 55);
    transition: 200ms;
    cursor: pointer;
}

#english img:hover {
    box-shadow: 0px 0px 20px 5px  rgb(4, 0, 253);
    transition: 200ms;
    cursor: pointer;
}