.navHeader{
    width: 100%;
    min-width: 570px;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    z-index: 2;

}

.navBar{
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-left: 20px;
}
.navBar >span {
    /* width: 100px; */
    padding: 20px;
    margin: 0px 3px;
    height: 100%;
    font-size: 18px;
    transition: ease-in 200ms;
    align-self: flex-end;
    padding: 20px 5px;
    cursor: pointer;

}



.navBar >span:hover{
    color: rgb(13, 140, 214);

}

.adjustIcon {
    filter: none;
    border: 1px solid rgb(28, 3, 255);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    /* padding: 5px; */
    background: rgb(28, 3, 255);
    cursor: pointer;
    transition: ease-in-out 300ms;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    height: 35px;
    width: 35px;
    
}   


.config{
    display: flex;
    align-self: center;
    margin: 15px;
    color: white;
    /* border: 1px solid black; */
    /* width: 150px; */
    height: 50px;
    justify-content: space-between;
    align-items: center;
}
.config > div {
    margin: 0px 20px;
}


.flag > img {
    width: 30px;
    cursor: pointer;
    /* display: none; */
}