#about-conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: var(--Dark); */
    padding-top: 20px;
    position: relative;
    margin-top: 20px;
    /* background: red; */
}
.about {
    /* text-shadow: 1px 1px 1px rgb(80, 80, 80); */
    border-radius: 10px ;
    position: relative;
    display: flex;
    flex-direction: column;
    /* font-family: 'Roboto Slab', serif; */
    /* font-family: 'Roboto Mono', monospace; */
    /* font-family: 'Oswald', sans-serif; */
    /* font-family: 'PT Sans', sans-serif; */
    font-family: 'Source Sans Pro', sans-serif;
    margin: 10px;
    margin-left: 30px;
    text-align: justify;
    font-size: 25px;
    font-weight: 500;
    align-self: center;
    max-width: 700px;
}
.about > p {
    color: var(--Body);
    filter: invert(1);

}
.resume {
    width: 120px;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    margin-top: 20px;
    transition: ease-in 250ms;
    cursor: pointer;
}

#about-conteiner > h2 {
    font-family: 'Spartan', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 20px;
    width: 100%;
    color: var(--Body);
    filter: invert(0.9);
}

.aboutBody {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px 10px;
    flex-wrap: wrap;
}
.aboutBody > div > img {
    border-radius: 15px;
    height: 300px;
}