footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-bottom: 30px;
    color: var(--Body);
    filter: invert(1);
}

footer > h3{
    font-family: 'La Belle Aurore',cursive;
    align-self: center;
    margin-bottom: 20px;
    -webkit-user-select: none;
    user-select: none;
    font-weight: 100;
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center; 
    flex-wrap: wrap;
    text-align: center;
}

.box > span > span > a {
    color: var(--Body);
    text-decoration: none;
}
.box > span > span > a:hover {
    text-decoration: underline;

}