#contact{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    color: white;
    position: relative;
    justify-content: space-between;
    margin-bottom: 20px;
}
#contact > h2 {
    display: flex;
    justify-content: center;
    margin: 20px;
    width: 100%;
    margin-bottom: 30px;
    color: var(--Body);
    filter: invert(1);
    font-family: 'Spartan', sans-serif;


}

#contact > .custom-shape-divider-bottom-1613724039 {
    position: relative;
}

.form{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.form > p{
    margin-top: 10px;

}
.emailContact{
    transition: 100ms ease-in;
    color: var(--Body);
    filter: invert(1);
    font-size: 18px;

}
.emailContact:hover {
    color: rgb(62, 192, 116);
    filter: invert(0);
    
}

.form > span {
    color: var(--Body);
    filter: invert(1);
    text-align: center;
    font-weight: 600;
    font-family: 'Roboto Slab', serif;
}
.form > .social >a{
    color: var(--Body);
    filter: invert(1);
}
.form > .social >a >span > svg:hover {
    filter: invert(2);

}

.form-top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 15px;
}
.form-top > div {
    margin-bottom: 5px;
}

.subject{
    width: 100%;
    margin-bottom: 5px;

}
.input-conteiner  svg  {
    color: var(--Body);
    filter: invert(0.8);
}
.form-top > div> input, .subject > input {
    width: 100%;
    height: 35px;
    color: white;
    background: rgb(0, 0, 0, 0.6);
    padding: 5px;
    outline: none;
    margin-bottom: 10px;
    font-size: 16px ;
    border: none;
    /* border-right: 1px solid rgb(0, 0, 0, 0.9);
    border-bottom: 1px solid rgb(0, 0, 0, 0.9);
    border-top: 1px solid rgb(0, 0, 0, 0.9); */
}
.form-top > div> input:focus, .subject > input:focus {
    background: rgb(0, 0, 0, 0.7);
}
.form-top > div> label, .subject > label {
    color: white;
    align-self: center;
    margin-bottom: 10px;
    font-size: 25px;
    padding: 0px 3px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
 
}
.message {
    width: 100%;
}
.message > textarea{
    width: 100%;
    height: 150px;
    background: rgb(0, 0, 0, 0.6);
    padding: 10px;
    /* border: 1px solid rgb(0, 0, 0, 0.9); */
    border: none;
    outline: none;
    resize: none;
    color: white;
    font-size: 17px ;
}
.message > textarea:focus{
    background: rgb(0, 0, 0, 0.7);

}
.input-conteiner{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    align-self: center;
}
.form > button {
    width: 100%;
    height: 50px;
    font-size: larger;
    background: rgba(255, 255, 255, 0.5);
    color: rgb(0, 0, 0);
    border: none;
    margin-top: 10px;
    cursor: pointer;
    font-weight: 700;
    border-radius: 5px;
}
.form > button:hover {
    background: rgba(255, 255, 255, 0.7);
}
.form > .disabled:hover {
    background: rgba(255, 255, 255, 0.2)!important;
}
.disabled {
    background: rgba(255, 255, 255, 0.2)!important;
    cursor: auto!important;
}
.okButton {
    background: rgb(45, 76, 212)!important;
    color: white!important;
    margin-top: 20px!important;
}
.focus {
    font-family: 700;
    font-size: large;
    text-decoration: underline;
}