#Home-Content{
    display: flex;
    flex-direction: column;
    align-self: center;
}
#Home{
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 560px;
    background: rgb(238,174,212);
    background: linear-gradient(135deg, rgba(238,174,212,1) 0%, rgba(116,116,221,1) 100%);
      
    background: rgb(90,9,121);
    background: linear-gradient(190deg, rgb(52, 11, 68) 35%, rgb(2, 53, 63) 100%); 
    overflow: hidden;
    /* margin-bottom: 15px; */
    transition: ease-in 300ms;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro{
    align-self: center;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: rgb(0, 0, 0, 0.4);
    padding: 50px;
    width: 450px;
    font-family: 'Spartan', sans-serif;

}
.intro > h2 {
    font-size: 22px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.intro > h1 {
    font-size: 34px;
    margin-bottom: 5px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.social {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    width: 130px;
}
.social > a {
    color: white;
}
.social > a> span > svg {
    display: flex;
    align-items: center;
    margin: 0px 2px;
    height: 2rem;
    transition: ease-in 200ms;
    font-size: 26px;
    cursor: pointer;
}
.social > a>span > svg:hover{
    color: rgb(0, 89, 255);

}
.transicao {
    width: 100%;
    height: 150px;
}