#Home-Content{
    display: flex;
    flex-direction: column;
    align-self: center;
}
#Home{
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 560px;
    background: rgb(238,174,212);
    background: linear-gradient(135deg, rgba(238,174,212,1) 0%, rgba(116,116,221,1) 100%);
      
    background: rgb(90,9,121);
    background: linear-gradient(190deg, rgb(52, 11, 68) 35%, rgb(2, 53, 63) 100%); 
    overflow: hidden;
    /* margin-bottom: 15px; */
    transition: ease-in 300ms;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro{
    align-self: center;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: rgb(0, 0, 0, 0.4);
    padding: 40px;
    width: 450px;
    font-family: 'Spartan', sans-serif;
    z-index: 1;
}
.intro > h2 {
    font-size: 22px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.intro > h1 {
    font-size: 34px;
    margin-bottom: 5px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.social {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 130px;
}
.social > a {
    color: white;
}
.social > a> span > svg {
    display: flex;
    align-items: center;
    margin: 0px 2px;
    height: 2rem;
    transition: ease-in 200ms;
    font-size: 26px;
    cursor: pointer;
}
.social > a>span > svg:hover{
    color: rgb(0, 89, 255);

}
.transicao {
    width: 100%;
    height: 150px;
}

.astro {
    position: absolute;
    border-radius: 50%;
    filter: blur(2px);
    box-shadow: 2px 2px 25px rgba(255, 255, 255, 0.7);
  }
  
  .astro > span {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .astro > span:nth-child(1):after {
    content: "";
    position: absolute;
    left: 10.8rem;
    top: 3.5rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #d3d3d3;
    box-shadow: inset 0px 0px 5px rgb(209, 209, 209);
    filter: blur(1px);

  }
  .astro > span:nth-child(1):before {
    content: "";
    position: absolute;
    left: 10rem;
    top: 3rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #d6d6d6;
    box-shadow: 0px 0px 12px rgb(0, 0, 0);
    filter: blur(15px);

  }
  .astro > span:nth-child(2):after {
    content: "";
    position: absolute;
    left: 7rem;
    top: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #bebebe;
    box-shadow: inset 0px 0px 12px rgb(202, 202, 202);
    filter: blur(15px);
    
  }
  .astro > span:nth-child(2):before {
    content: "";
    position: absolute;
    left: 15rem;
    top: 6rem;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: #dddcdc;
    box-shadow: 2px 10px 4px rgb(209, 209, 209);
    filter: blur(1px);

  }
  .astro > span:nth-child(3)::after {
    content: "";
    position: absolute;
    left: 5.3rem;
    top: 7.2rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #dbdbdb;
    box-shadow: 0px 5px 15px rgb(167, 167, 167);
    filter: blur(12px);

  }
  .astro > span:nth-child(3):before {
    content: "";
    position: absolute;
    left: 4rem;
    top: 4rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #c7c7c7;
    box-shadow: inset 0px 10px 25px rgb(228, 228, 228);
    filter: blur(20px);

  }
  .astro > span:nth-child(4)::after {
    content: "";
    position: absolute;
    left: 4rem;
    top: 6.5rem;
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
    background-color: #d6d6d6;
    box-shadow: inset 0px 0px 15px rgb(219, 219, 219);
    filter: blur(20px);
  }
  .astro > span:nth-child(4):before {
    content: "";
    position: absolute;
    left: 3.2rem;
    top: 2.2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #c7c7c7;
    box-shadow: inset 0px 0px 25px rgb(209, 209, 209);
    filter: blur(20px);
  }