.social {
    list-style: none;
    position: relative;
    margin: 0;
    bottom: 200px;
    padding: 0;
    height: 3rem;
    /* border: 2px solid black; */
    background-color: white;
    color: rgb(20, 20, 20);
    border-radius: 15px;
    z-index: 1;
    width: 200px;
    justify-content: space-between;

}

.social li {

    cursor: pointer;
    transition: 500ms;

    
}
.social li:hover{
    transition: 500ms;
    font-size: 2rem;
}


@media (max-height: 600px) {
    .social.li {
        font-size: 1rem;
    }
}