.social {
    list-style: none;
    display: flex;
    position: relative;
    align-self: center;
    margin: 0;
    bottom: 25%;
    padding: 0;
}

.social li {
    /* margin: 10px 25px; */
    /* font-size: 2rem; */
    cursor: pointer;
    
}
.social li:hover{
    transition: 200ms;
    font-size: 2.5rem;
}

@media (max-height: 600px) {
    .social.li {
        font-size: 1rem;
    }
}