

#resultado {
    font-size: 12px;
    margin: 0;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    height: 40px;
    font-weight: 900;
}
.Contact {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 5px 5px 10px rgb(255, 255, 255, 0.1);
    border-radius:10px;
    color: white;
    width: 500px;
    /* max-width: 280px; */

}
form {

    width: 100%;
    max-width: 500px;

    margin: 20px auto;
    padding: 0px 40px;

    display: flex;
    flex-direction: column;
}

form h2 {
    margin-bottom: 32px;
}

div.input {
    position: relative;
    margin: 0px 5px 15px 5px;
}

input{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    padding: 16px 0 5px 0;
    border:none;
    border-bottom: 2px solid rgb(112, 154, 247);
    background-color: transparent;
    outline: none;
    color: white;
    font-size: 1em;
}
form > div{
    justify-content: center;
}
input ~ label {
    position: absolute;
    top: 16px;
    left: 0;

    color: rgba(255, 255, 255, 0.6) ;

    transition: .4s;
}

input:focus ~ label,
input:valid ~ label {
    transform: translateY(-24px);
    font-size: 0.8em;
    letter-spacing: 0.1em;
}


.input span.error {
    display: flex;
    
    padding: 0;

    background-color: rgba(255, 0, 0, 0.2);
}

.input span.error.active {
    border: 1px solid red;
    padding: 0.4em;
}

@media (max-width: 385px) { 
    form{
        padding: 0px 10px;
    }
 }
@media (max-width: 576px) { 
    form > div{
        flex-direction: column;
    }
 }
