footer, .prefooter {
    /* position: absolute; */
}
footer {
    bottom: 0px;
    height: 50px;
    background-color: rgb(41, 41, 41);
    color: whitesmoke;
    text-align: center;
    left: 4px;
}
.prefooter  {
    bottom: 49px;
    border-bottom: 160px solid rgb(41, 41, 41);
	height: 0;


}