footer {
    height: 80px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
  footer div {
    align-self: center;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 12rem;
    /* margin: 0px; */
    /* padding: 0px; */
    
  }
  
  
  footer div span {
    /* margin: 0px 10px; */
    font-size: 1.6rem;
    transition: 400ms;
    justify-content: space-around;
    /* bottom: 15px; */
    
  }
  
  footer div span a {
    text-decoration: none;
    position: relative;
    transition: 400ms;
    /* margin-bottom: 15px; */
    border-radius: 100%;
    padding: 5px;
    color: white;

  }
  
  .fa-github:hover, .fa-linkedin-square:hover, .fa-codepen:hover{
    cursor: pointer;
    text-decoration: none;
  }