:root {
  --Dark: rgb(228, 190, 96);
  --Body: rgb(5, 5, 5);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html, body, #root, .app {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--Body);
  max-width: 100vw;
}

main {
  max-width: 100%;
  margin: 0 auto;
  padding: 50px 10%;
  padding-bottom: 20px;
  background: var(--Body);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: red; */
}
.body-conteiner {
  border: 1px solid rgb(255, 255, 255, 0.02);
  background: rgb(255, 255, 255, 0.02);
  border-radius: 20px;
  height: 100%;
  padding-bottom: 20px;
  margin-bottom: 30px;
  max-width: 2300px;
}
.title {
  margin-top: 60px;
}
.title::before {
  content: '<h2>';
  font-family: 'La Belle Aurore',cursive;
  color: var(--Body);
  filter: invert(0.4);
  font-size: 18px;
  margin-top: -2rem;
  position: relative;
  font-weight: 100;
}
.title::after {
  content: '</h2>';
  font-family: 'La Belle Aurore',cursive;
  color: var(--Body);
  filter: invert(0.4);
  font-size: 18px;
  position: relative;
  display: flex;
  margin-top: 2rem;
  flex-direction: row-reverse;
  font-weight: 100;
}

.subText::before {
  content: '<p>';
  font-family: 'La Belle Aurore',cursive;
  color: var(--Body);
  filter: invert(0.4);
   font-size: 18px;
  position: relative;
  margin-top: -1rem;
  right: 0.5rem;
  font-weight: 100;
}
.subText::after {
  content: '</p>';
  font-family: 'La Belle Aurore',cursive;
  color: var(--Body);
  filter: invert(0.4);
  font-size: 18px;
  position: relative;
  margin-top: 0rem;
  left: 0rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: row-reverse;
  font-weight: 100;
}


footer {
  width: 100%;
  /* position: relative; */
  height: 150px;  
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
 }
 ::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 15px;
 }
 ::-webkit-scrollbar-thumb:hover{
  transition: 500ms ease-in;

  background: rgb(85, 85, 85);
 }
 ::-webkit-scrollbar-track{
  background: var(--Body);
  /* border-radius: 12px; */
  box-shadow: inset 7px 10px 12px transparent;
 }


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/* font-family: 'Montserrat', sans-serif; */
/* Medium 500  navigation texts*/

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@600&display=swap');
/* font-family: 'Spartan', sans-serif; */
/* Semi-bold 600 header*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
/* font-family: 'Roboto Slab', serif; */
/* Light 300 light texts*/

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
/* PT Sans
Bold 700 */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
/* Source Sans Pro
Regular 400 */

@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
/* La Belle Aurore
Regular 400 */

@media (max-width: 380px) {
  .iconAbout {
    width: 250px;
    height: 250px;
  }
  .projDesc {
    display: none;
  }
  .img {
    opacity: 1;
  }
}
@media (min-width: 381px) {
  .img {
    opacity: 0.3;
  }
}
@media (max-width: 550px) {
  .navHeader-Container .navBar {
    display: none;
  }
  .bars{
    display: block;
  }
  .form {
    width: 100%;
    padding: 10px;
  }
  .projDesc > h3{
    font-size: 16px;
  }
  .about {
    margin: 0px;
  }

  main{
    padding: 10px;
  }
  /* .navHeader {
    padding: 0px ;
  } */
 }

@media (min-width: 551px) { 
  .form {
    width: 500px;
    padding: 30px;
  }
  .about {
    margin: 0px 10px 10px 30px;

  }
  /* .navHeader {
    padding: 0px 5%;
  } */
 }



@media (max-width: 430px) { 
  /* .proj {
    width: 100%;
    margin: 30px 0px;
  }
  .form-top{
    flex-direction: column;
  }
  .form-top > div {
    width: 100%;
  } */
  .navHeader-Container {
    padding: 0;
  }
  .about > p {
    font-size: 20px;
  }
  .intro  {
    width: 380px;
  }
  .intro > h1 {
    font-size: 26px;
  }
  
  .intro > h2 {
    font-size: 16px;
  }
  .projDesc > span{
    font-size: 14px;
  }
 }

@media (min-width: 431px) { 

 
  .about > p {
    font-size: 25px;
  }
  .projDesc > span {
    font-size: 17px;
  }
 }


 @media (max-width: 1400px) { 
  main {
    padding: 50px 2%;
  }
}

@media (min-width: 1401px) { 
  main {
    padding: 50px 10%;
    width: 100%;
  }
}
@media (max-width: 980px) { 
 .img {
   width: 100%;
   height: auto;
 }
}

@media (min-width: 980px) { 
 .img {
   width: 900px;
   height: 420px;
 }

}