:root {
  --Light: rgb(133, 96, 2);
  --Dark: rgb(5, 0, 32);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
html, body, #root, .app {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100%;
  margin: 0 auto
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/* font-family: 'Montserrat', sans-serif; */
/* Medium 500  navigation texts*/

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@600&display=swap');
/* font-family: 'Spartan', sans-serif; */
/* Semi-bold 600 header*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
/* font-family: 'Roboto Slab', serif; */
/* Light 300 light texts*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
/* font-family: 'Work Sans', sans-serif;  */
/* Medium 500 header / text */

@media (max-width: 520px) {
  .navBar {
    display: none;
  }
  .bars{
    display: block;
  }
  .form {
    width: 100%;
    padding: 10px;
  }
  .form > span {
    font-size: 12px;
  }
 }

@media (min-width: 521px) { 
  .form {
    width: 500px;
    padding: 30px;
  }

 }



@media (max-width: 430px) { 
  .proj {
    width: 100%;
    margin: 30px 0px;
  }
  .form-top{
    flex-direction: column;
  }
  .form-top > div {
    width: 100%;
  }

 }

@media (min-width: 431px) { 

  .proj {
    margin: 30px;
  }
  .proj-info{
    width: 350px;
  }
  .form-top{
    flex-direction: row;
  }
  .form-top > div {
    width: 49%;
  }
 }