
*{
    margin: 0;
    padding: 0;
}
html, body, #root {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}


#root {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
    justify-content: space-between;
}
body{
    background: linear-gradient(56deg, rgb(0, 15, 25) 0%, rgba(0,0,0,1) 50%, rgb(22, 3, 0) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
    background-attachment: fixed;
}

#main {
    display: flex;
    position: relative;
    justify-content: center;
    padding: 0%;

}



@media (max-width: 576px) { 
    .nome{
        font-size: 2rem;
    }
    .home h3{
        font-size: 1.3rem;

    }
 }

@media (min-width: 768px) { 

 }

@media (min-width: 992px) { 
     }

@media (min-width: 1200px) { 

 }