html, body {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: space-around;

}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    /* width: 100rem; */
    /* background-color: rgb(143, 143, 184 ); */
    margin: 0;
}