.container {
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 10px;
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    padding: 10px;
}
.container >img {
    /* width: 100px;
    height: 100px; */
    margin-right: 10px;
    border-radius: 5px;
}